<section class="home" id="home">
  <div class="content">
    <h3>
      fresh coffe <br />
      in the morning <br />
      Buy it 50%
    </h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br />
      Illum eaque fugiat dignissimos quae odit expedita, modi, <br />
      possimus ipsam aliquid accusantium ad minus repellat. <br />
      Id eos expedita accusantium ex eligendi odio.
    </p>
    <a routerLink="/allproduct" routerLinkActive="active" class="btn"
      >Order now</a
    >
  </div>
</section>
