<section class="about">
  <img src="../../assets/images/backing-coffee.png" alt="" />
</section>

<section class="review" id="review">
  <h1 class="heading">our <span>team</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="../../../assets/images/quote-img.png" class="quote" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel illum ex
        velit ullam ipsum modi mollitia veniam, sint natus officia, excepturi
        autem dolore eligendi voluptate, inventore quasi cumque odit ducimus.
      </p>
      <img src="../../../assets/images/pic-1.png" class="user" alt="" />
      <h3>M. Hamzah</h3>
      <h3>CEO</h3>
    </div>
    <div class="box">
      <img src="../../../assets/images/quote-img.png" class="quote" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel illum ex
        velit ullam ipsum modi mollitia veniam, sint natus officia, excepturi
        autem dolore eligendi voluptate, inventore quasi cumque odit ducimus.
      </p>
      <img src="../../../assets/images/pic-2.png" class="user" alt="" />
      <h3>M. Hamzah</h3>
    </div>
    <div class="box">
      <img src="../../../assets/images/quote-img.png" class="quote" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel illum ex
        velit ullam ipsum modi mollitia veniam, sint natus officia, excepturi
        autem dolore eligendi voluptate, inventore quasi cumque odit ducimus.
      </p>
      <img src="../../../assets/images/pic-3.png" class="user" alt="" />
      <h3>M. Hamzah</h3>
    </div>
  </div>
</section>

<section>
  <a routerLink="/home" routerLinkActive="active">home</a>
</section>
