<section class="about" id="about">
  <h1 class="heading"><span>About</span> the coffee we sell</h1>
  <div class="row">
    <div class="image">
      <img src="../../../assets/images/about-img.jpeg" alt="" />
    </div>
    <div class="content">
      <h3>What makes our coffee special</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ut
        nesciunt eius! Quidem veritatis quam assumenda asperiores tempora
        placeat. Dignissimos reiciendis ipsum architecto natus sint voluptatem
        soluta velit quae libero.
      </p>
    </div>
  </div>
</section>
