<section class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4" id="img">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.296282784634!2d106.8274254141376!3d-6.224609862694026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f324565947e9%3A0x420d8f1dfd4d9452!2sKuningan%20City!5e0!3m2!1sen!2sid!4v1639166662901!5m2!1sen!2sid"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-4">
        <div class="addresses">
          <div class="jakarta">
            <h5>Kin's coffe office center</h5>
            <div class="address">
              <span
                ><fa-icon [icon]="faMapMarkedAlt"></fa-icon> Jl. Prof. DR.
                Satrio No.Kav. 18, Kuningan, Jakarta Selatan</span
              >
            </div>
            <div class="email">
              <span
                ><fa-icon [icon]="faEnvelope"></fa-icon>
                kinantanoas@gmail.com</span
              >
            </div>
            <div class="Phone">
              <span><fa-icon [icon]="faPhone"></fa-icon> +62 21 12345</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="socialMedia">
          <div class="social">
            <h5>SOCIAL MEDIA</h5>
            <div class="instagram">
              <span><fa-icon [icon]="faInstagram"></fa-icon> @Kins_Coffee</span>
            </div>
            <div class="email">
              <span><fa-icon [icon]="faTwitter"></fa-icon> @kin's_coffee</span>
            </div>
            <div class="Phone">
              <span><fa-icon [icon]="faFacebook"></fa-icon> Kin's Coffee</span>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p class="mb-0">
          <small>&copy; kins. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</section>
